/* Estilos generales */

/* Estilos de la barra de navegación */
nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ccc;
}

/* Estilos del menú burger */
.menu-btn {
  display: none;
}

@media (max-width: 767px) {
  .menu-btn {
    display: block;
  }

  .navbar {
    display: none;
    flex-direction: column;
    margin-top: 20px;
  }

  .navbar li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  #menu-toggle:checked ~ .navbar {
    display: flex;
  }
}
